.section {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .section-center {
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

#booking {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#booking::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(47, 103, 177, 0.6);
}

.booking-form {
    background-color: #fff;
    padding: 50px 20px;
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    width: 100%;
    max-width: 600px;
}

.booking-form .form-group {
    position: relative;
    margin-bottom: 30px;
}

.booking-form .form-control {
    background-color: #ebecee;
    border-radius: 4px;
    border: none;
    height: 40px;
    box-shadow: none;
    color: #3e485c;
    font-size: 14px;
}

.booking-form .form-control::placeholder {
    color: rgba(62, 72, 92, 0.3);
}

.booking-form select.form-control {
    appearance: none;
}

.booking-form select.form-control + .select-arrow {
    position: absolute;
    right: 0;
    bottom: 4px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: rgba(62, 72, 92, 0.3);
    font-size: 14px;
}

.booking-form .submit-btn,
.booking-form .next-btn,
.booking-form .previous-btn {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    padding: 14px 30px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    transition: 0.2s all;
    width: auto;
    min-width: 120px;
}

.booking-form .submit-btn {
    background-color: #94a3b8;
}

.booking-form .next-btn {
    background-color: #ffc107;
}

.booking-form .previous-btn {
    background-color: #cbd5e1;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
    background-color: #1e293b;
    cursor: pointer;
}

.booking-cta {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

.booking-cta h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
}

.booking-cta p {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
    .booking-cta h1 {
        font-size: 2.5rem;
    }

    .booking-form {
        padding: 30px 15px;
    }
}
